* {
  margin : 0;
  padding : 0;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.attribution {
  text-align: center;
  padding-inline : 4em;
}

section {
  background-image: url('./images/bg-intro-mobile.png');
  background-color: hsl(0, 100%, 74%);
  height : fit-content; 
}

.header {
  display : flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4em 2em;
  padding-inline : 1em;
}

h1,p {
  text-align: center;
  color : #fff;
}

h1 {
  font-size: 25px;
  margin-bottom : .7em;
}

p {
  font-size: 14px;
}

.middleContainer {
  display : flex;
  padding-left : 2.5em;
  flex-direction: column;
  align-items: center;
  width : 280px;
}

.card {
  border-radius: 6px;
  background-color: hsl(248, 32%, 49%);
  justify-content: center;
  box-shadow: -1px 10px 5px 0px rgba(41,80,77,0.5);
}

.card > p {
  padding-inline : 3em;
  padding-block : .9em;
}

.formContainer {
  margin-top: 1em;
  margin-bottom : 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 6px;
  width : 280px;
  box-shadow: 0px 3px 3px 0px rgba(41,80,77,0.75);
}

input {
  padding : 1.5em;
  margin-inline : 1em;
  margin-block : 1em;
  width : 15em;
  border-radius: 6px;
  border : 1px solid hsl(246, 25%, 77%);
}

input::placeholder {
  font-weight: bold;
}

button {
  background-color: hsl(154, 59%, 51%);
  padding : 1em 1.5em 1em 1.5em;
  width : 18.1em;
  margin-inline : 1em;
  border-radius: 6px;
  border : none;
  box-shadow: 0px 3px 3px 0px rgba(41,80,77,0.75);
  color : #fff;
}

form > p {
  color : hsl(246, 25%, 77%);
  padding-block : .6em 1em;
  font-size: 12px;
  padding-inline : 1.5em;
}

.success {
  font-size: 12px;
  margin-top : 1em;
  margin-left : 1em;
  color : hsl(154, 59%, 51%);
}
.inputContainer {
  display : flex;
  flex-direction: column;
}
.errorMsg {
  font-style: italic;
  color: red;
  text-align: right;
  margin-right: 1em;
  position: relative;
  bottom : 10px;
}

.iconError {
  display: flex;
  position: relative;
  left : 420px;
  bottom : 75px;
  width : 50px; 
}

@media screen and (min-width : 1320px) {
  body {
    background-image: url('./images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
  }
  section {
    height : 100vh;
  }
  .MainContainer {
    padding-top: 1em;
    padding-left : 6em;
    display : flex;
    flex-direction: row;
  }
  .header {
    margin-left : 4em;
    display : flex;
    flex-direction: column;
    align-items: center;
    width : 25em;
    justify-content: center;
  }
  h1 {
    font-size: 40px;
  }
  h1,p {
    text-align: left;
  }
  .middleContainer {
    width : 500px;
    margin-top : 5em;
  }
  .card {
    width : 100%;
  }
  .formContainer {
    width : 100%;
    justify-content: center;
  }
  form {
    margin-top : 1.5em;
  }
  input {
    width : 400px;
    margin-left : 1.8em;
  }
  button {
    width : 445px;
    margin-left : 1.8em;
  }
  form > p {
    text-align: center;
  }
  .card > p {
    text-align: center;
  }
  .success {
    text-align: center;
  }
}